*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body.active{
    overflow: hidden;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 72px;
    z-index: 3;
    transition: 0.2s all;
}
.burger-menu{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    padding-bottom: 30px;
    transform: translateX(-200vh);
    overflow-y: scroll;
    transition: 1s all;
}
.burger-menu.active{
    transform: translateX(0vh);

}
.search-close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    height: 50px;
    border-bottom:1px solid rgba(0, 0, 0, 0.04);
    padding: 0 15px;
}
.burger-list{
    padding: 0 15px;
}
.burger-list h1{
    font-size: 16px;
    margin: 15px 0;
}
.burger-list ul li{
    list-style-type:none;
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:1px solid rgba(0, 0, 0, 0.04);
}
.burger-list ul li a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
}
.close-input{
    display: none;
}
.search-close input{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    display: none;
}
header:hover{
    background-color: #fff;
}

.header2{
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
    background-color: #fff;
}
.header2 a{
    margin-top: 15px;
}
.header2-hidden{
    height: 72px;
    width: 100%;
}
.hidden-list{
    flex-direction: column;
    flex-wrap: wrap;
    height: 168px;
    width: 50%;
    display: none;
    padding-left: 30px;
}
.hidden-list a{
    margin-top: 25px;
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}
.hidden-list a:hover{
    color: #7f7f7f;
}
.nav-panel{
    display: flex;
}
.nav-list{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-bars{
    width: 33%;
    height: 100%;
    display: none;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
}
.nav-bars i{
    transition: all 0.2s;
}
.nav-bars i:hover{
    color: #bababa;
}
.nav-list a{
    text-decoration: none;
    margin-right: 15px;
    color: #000;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 188px;
    height: 52px;
}
.container{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-panel{
    width: 100%;
    height: 100%;
}
.nav-right{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.search-button{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.24);
    cursor: pointer;
}
.search-input{
    height: 36px;
}
.search-input input{
    height: 100%;
    width: 220px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.24);
}
.search-input input::placeholder{
    color: #000;
}
.search-block{
    display: flex;
}
.search-block:hover{
    border: 1px solid #000;
}
.nav-right>a{
    color: #000;
    margin-left: 25px;
    font-size: 18px;
}



main{
    width: 100%;
}
.section1{
    height: 100vh;
    width: 100%;
}
.slider{
    width: 100%;
    height: 90%;
    position: relative;
}
.slide-item1{
    background: url(/img/slide1.png) no-repeat;
    background-size: cover;
}
.slide-item2{
    background: url(/img/slide2.png) no-repeat;
    background-size: cover;
}
.slider-item{
    width: 100%;
    height: 100vh;
    position: relative;
}
.slider-item img{
    width: 100%;
    height: 100vh;
}
.slide-hidden{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}
.slide-hidden a{
    text-decoration: none;
    border-bottom: 1px solid #000;
    font-size: 56px;
    color: #000;
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.section1>.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 40px;
    width: 40px;
    border: none;
    margin-top: -20px;
    cursor: pointer;
    transition: 0.2s all ;
}
.slider .slick-arrow:hover{
    transform: scale(1.2);
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url(/img/left-arrow.svg) 0 0 no-repeat;
    margin-left: 30px;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url(/img/right-arrow.svg) 0 0 no-repeat;
    margin-right: 30px;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0 15px;
}
.slider .slick-dots button{
    position: absolute;
    bottom: -45px;
    z-index: 2;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    background-color: #000;
    transition: 0.2s all;
}
.slider .slick-dots li.slick-active button{
    background-color: rgba(255,255,255,0.7);
    width: 20px;
    border-radius: 666px;
}


.section2{
    /* height: 85vh; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}
.section2 a{
    text-decoration: none;
    flex-basis: 20%;
}
.card{
    height: 520px;
    width: 320px; 
    display: flex;
    flex-direction: column; 
    transition: 0.3s all;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    height: 85%;
    width: 100%;
}
.card-inf{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-inf{
    color: #000;
}
.card-inf h1{
    font-size: 16px;
    font-weight: 500;
}
.card-inf i{
    margin-top: 8px;
    font-size: 14px;
}


.section3{
    height: 60vh;
    width: 100%;
}
.section3>h1{
    font-size: 22px;
}
.slider2{
    width: 100%;
    margin-top: 30px;
    position: relative;
}
.slider2 a{
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    display: flex;
    justify-content: center;
}
.slider2 a:first-child{
    margin-left: 0;
}
.slider2 a:last-child{
    margin-right: 0;
}
.slider-item2{
    width: 268px;
    text-align: center;
    position: relative;
}


.slider-item2 img{
    width: 100%;
}
.slider-item2:hover ~ .more-inf{    
    color: red;
}
.slider2 .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider2 .slick-dots li{
    list-style: none;
    margin: 0 15px;
}
.slider2 .slick-dots button{
    position: absolute;
    bottom: -45px;
    z-index: 2;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    background-color: #000;
    transition: 0.2s all;
}
.slider2 .slick-dots li.slick-active button{
    background-color: rgba(168, 168, 168, 0.7);
    width: 15px;
    border-radius: 666px;
}
.slider-item2 h1{
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}
.item-price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.item-price p{
    font-weight: 700;
    margin: 0 5px;
}
.discount p{
    text-decoration: line-through;
    color: #808080;
    font-weight: 500;
}
.sale{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 25px;
    background-color: #2d2d2d;
    color: #fff;
}
.more-inf{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 18px;
    color: #7f7f7f;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    transition: 0.2s all;
    opacity: 0;
}
.more-inf:hover{
    color: #000;
}
.slider2 .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 40px;
    width: 40px;
    border: none;
    margin-top: -50px;
    cursor: pointer;
    transition: 0.2s all;
}
.slider2 .slick-arrow:hover{
    transform: scale(1.2);
}
.slider2 .slick-arrow.slick-prev{
    left: 0;
    background: url(/img/left-arrow1.png) 0 0 no-repeat;
    margin-left: -15px;
}
.slider2 .slick-arrow.slick-next{
    right: 0;
    background: url(/img/right-arrow1.png) 0 0 no-repeat;
    margin-right: -22px;
}


.section4{
    height: 60vh;
    width: 100%;
    margin-top: 100px;
}
.section4>h1{
    font-size: 22px;
}



.section5{
    width: 100%;
    margin-top: 40px;
    padding-bottom: 100px;
}
.section5-content{
    height: 63.7vh;
    width: 100%;
    display: flex;
}
.inf-block{
    width: 50%;
    height: 100%;
    padding: 90px 60px 0 0 ;
}
.inf-block h1{
    font-size: 28px;
}
.inf-block p{
    font-size: 17px;
    margin-top: 30px;
    line-height: 28px;
}
#inf-block-pad{
    padding-left: 25px;
}
.inf-block button{
    height: 40px;
    width: 130px;
    font-size: 17px;
    margin-top: 55px;
    background-color: #2d2d2d;
    color: #fff;
    border: none;
}
.section5-img-block{
    width: 50%;
    height: 100%;
}
.section5-img-block img{
    width: 100%;
}


footer{
    width: 100%;
    background-color: #dddddd;
    padding-bottom: 15px;
}
.footer-section{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 30px;
}
.contacts{
    display: flex;
}
.contact{
    height: 31px;
    font-size: 19px;
    text-align: center;
}
.contact a{
    text-decoration: none;
    color: #000;
}

.contact:last-child{
    border-left: 1px solid #000;
    margin-left: 10px;
    padding-left: 10px;
}

#footer1>p{
    margin-top: 5px;
}
#footer1>a{
    color: #000;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
}
#footer2{
    align-items: center;
}
#footer2 img{
    width: 160px;
    height: 44px;
}
.footer-messengers{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: end;
}
.footer-messengers img{
    margin: 0 8px;
}
.footer-banks{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 40px;
}
.footer-banks img{
    margin: 0 10px;
}


@media (max-width: 1340px){
    .slider2 .slick-arrow.slick-prev{
        margin-left: 0px;
    }
    .slider2 .slick-arrow.slick-next{
        margin-right: 0px;
    }
    .inf-block{
        padding: 40px 60px 0 0;    
    }
    .section5-content{
        margin-top: 30px;
    }
}
@media (max-width: 1240px){
    .slider2 .slick-arrow.slick-prev{
        margin-left: 40px;
    }
    .slider2 .slick-arrow.slick-next{
        margin-right: 45px;
    }
}
@media (max-width: 1280px){
    .card{
        width: 250px;
        height: 380px;
    }
}
@media (max-width: 1180px) {
    .nav-list{
        display: none;
    }
    .nav-bars{
        display: flex;
    }
    .search-block{
        display: none;
    }
    .slide-hidden a{
        font-size: 40px;
    }
    .slider2 .slick-arrow.slick-prev{
        margin-left: 30px;
    }
    .slider2 .slick-arrow.slick-next{
        margin-right: 35px;
    }
}
@media (max-width: 1100px){
    .slider2 .slick-arrow.slick-prev{
        margin-left: 15px;
    }
    .slider2 .slick-arrow.slick-next{
        margin-right: 20px;
    }
}
@media (max-width: 1080px){
    .section2 a{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .section2{
        padding: 20px 0;
    }
    .slider2 .slick-arrow.slick-prev{
        margin-left: 15px;
    }
    .slider2 .slick-arrow.slick-next{
        margin-right: 20px;
    }
    .contacts{
        flex-direction: column;
    }
    .contact{
        text-align: left;
    }
    .contact:last-child{
        border-left: none;
        margin-left: 0;
        padding-left: 0;
    }
}
@media (max-width: 1020px){
    .section5-content{
        height: auto;
    }
}
@media (max-width: 980px){
    .slider2 .slick-arrow.slick-prev{
        margin-left: -5px;
    }
    .slider2 .slick-arrow.slick-next{
        margin-right: 5px;
    }
    .section5-content{
        flex-direction: column-reverse;
    }
    #section5-content-reverse{
        flex-direction: column;
    }
    #inf-block-pad{
        padding-left: 0;
    }
    .section5-img-block{
        width: 100%;
    }
    .inf-block{
        width: 100%;
    }
}
@media (max-width: 920px) {
    .slide-hidden a{
        font-size: 32px;
    }
    .slider2 .slick-arrow.slick-prev{
        margin-left: -15px;
    }
    .slider2 .slick-arrow.slick-next{
        margin-right: -5px;
    }
}
@media (max-width: 768px) {
    .slide-hidden a{
        font-size: 28px;
    }
    .nav-right a:first-child{
        display: none;
    }
}
@media (max-width: 600px) {
    .slide-hidden a{
        font-size: 18px;
    }
    .section2{
    justify-content: center;
    }
    .section2 a{
        flex-basis: 90%;
    }
    .card{
        flex-basis: 80%;
        height: 500px;
    }
    .slider2 a{
        margin: 0;
    }
}
@media (max-width: 520px){
    .footer{
        flex-direction: column;
    }
    .footer-section{
        width: 100%;
    }
    #footer2{
        order: 1;
    }
    #footer1{
        order: 2;
        align-items: center;
        margin-top: 15px;
    }
    #footer3{
        order: 3;
    }
    .footer-messengers{
        justify-content: center;
        margin-top: 30px;
    }
    .footer-banks{
        justify-content: center;
        margin-top: 15px;
    }
}
@media (max-width: 420px){
    .card{
        width: 100%;
    }
}